<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cvos"
        version="0.0.1">

    <name>CVOS-VRI</name>

    <description>VOSRDI</description>

    <repo>https://github.com/Eve-Daniel/cordova-plugin-cvos.git</repo>

    <keywords>appplant, private</keywords>

    <license>Apache 2.0</license>

    <author>Daniel Eve</author>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />        
    </engines>

    <!-- js -->
    <js-module src="www/vos.js" name="cvos">
        <clobbers target="cordova-plugin-cvos" />
        <clobbers target="plugin.cvos" />
        <clobbers target="cvos" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundMode">
                <param name="ios-package" value="APPBackgroundMode" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>audio</string>
            </array>
        </config-file>       

        <header-file src="src/ios/APPBackgroundMode.h" />
        <source-file src="src/ios/APPBackgroundMode.m" />
        <header-file src="src/ios/APPMethodMagic.h" />
        <source-file src="src/ios/APPMethodMagic.m" />
    </platform>
    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundMode">
                <param name="browser-package" value="BackgroundMode"/>
            </feature>
        </config-file>

        <js-module src="src/browser/BackgroundModeProxy.js" name="BackgroundMode.Proxy">
            <runs />
        </js-module>
    </platform>

</plugin>
